body {
  background: linear-gradient(to top right, #700007, #c20202);
}

p {
  color: antiquewhite;
  font: 18px/20px neucha;
  letter-spacing: 2pt;
  word-spacing: 2pt;
}

h1 {
  margin: 2px 2px 1px 0;
  border:10px solid black;
  font-family: Boogaloo;
  font-size: 2.5em;
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

h3 {
  border: 5px solid black;
  text-align:center;
  font-family: boogaloo;
  font-size: 1.5em;
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
}

ul {
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
  list-style-type: none;

}

h5 {
  border-top: 3px solid black;
  text-align: center;
  color:antiquewhite
}

footer {
  text-align: center;
  color: antiquewhite;
  font-family: 'Prata' serif;
}


