body {
  background-image: linear-gradient(to top right, #700700, #a70000, #f70000); 
}

p {
  color: antiquewhite;
  font: 18px/20px neucha;
  letter-spacing: 4pt;
  word-spacing: 4pt;
}

h1 {
  border:10px solid black;
  text-align: center;
  font-family: Boogaloo;
  font-size: 5em;
  color: antiquewhite;
  text-shadow: 5px 5px 1px black;
}

h3 {
  background-color: rgba(182, 2, 2, 0.5);
  border: 5px solid black;
  text-align:center;
  font-family: boogaloo;
  font-size: 1.5em;
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
}

img[alt] {
  padding-right: 65px;
 
}
ul {
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
  list-style-type: none;
}

h5 {
  border-top: 3px solid black;
  text-align: center;
  color:rgb(250, 235, 215)
}

nav {
  border-top: 3px solid black;
}

a:link {
  font: 18px/20px Prata;
  text-decoration: none;
  color: whitesmoke;
}

a:visited:
  text-decoration: none;
  color: yellow;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration;
  color: royalblue;

footer {
  text-align: center;
  color: antiquewhite;
  font-family: 'Prata' serif;
}


