body {
  background: linear-gradient(to top right, #700007, #fa0202);
}

p {
  color: antiquewhite;
  font: 18px/20px neucha;
  letter-spacing: 2pt;
  word-spacing: 2pt;
}

h1 {
  border:10px solid black;
  font-family: Boogaloo;
  font-size: 5em;
  color: antiquewhite;
  text-shadow: 5px 5px 1px black;
  text-align: center;
}

h3 {
  background-color: rgba(182, 2, 2, 0.5);
  border: 5px solid black;
  text-align:center;
  font-family: boogaloo;
  font-size: 1.5em;
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
}

ul {
  color: antiquewhite;
  text-shadow: 1px 1px 1px black;
  list-style-type: none;

}

h5 {
  border-top: 3px solid black;
  text-align: center;
  color:rgb(250, 235, 215)
}

nav {
  border-top: 3px solid black;
}

a {
  text-decoration: none;
  color:white;
}

footer {
  text-align: center;
  color: antiquewhite;
  font-family: 'Prata' serif;
}


