body {
  text-shadow: 2px 2px black;
  color: antiquewhite;
  background-color: #0267b3;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

#story {
  background-color: #0283e5;
  font-size: 24px;
  font-family: 'Laila', serif;
  border: 2px solid black;
  display: block;
  margin: auto;
  position: relative;
  top: 150px;
}

.image {
  display: none;
}

button {
  height: 45px;
  width: 30.3%;
  margin: auto;
  padding: 10px;
}
