body{
background-color:#13066d;
color:white;

}
header{
    background-color:rgba(11,46,141,0.5);
    font-family: 'Poppins', sans-serif;
    font-size:32px;
    height:100px;
    text-align:center;
}
#back{
    display:none;
background-color:red;
}

#output{
  opacity:0.01;
  display:none;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    font-size:2em;
    background-color:#0e3ad6;
    border:2px black solid;
    height:300px;
}
.container{
    background-color:#0e3ad6;
  margin:auto;
  width:35%;
  clear:both;
}
.container label{
display:block;
    width:100%;
    clear:both;
}
.container input{
    margin:auto;
  width:40%;
  clear:both;
}
#submit{
  
    text-align:center;
}
footer{
    background-color:rgba(11,46,141,0.5);
    position: relative;
    top:300px;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    height:150px;
    text-align:center;
}
