body{
	color:antiquewhite;
	background-image:url("shark2.0.jpeg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	background-attachment:fixed;
	margin:20px;
}

::selection{
	background-color:white;
	color:red;
	font-size:16px;
}

.navbar1 {
	list-style-type: none;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	background-color: rgba(192,192,192,0.5);
}

.navbar {
	float: left;
        width:25%;
}

.navbar a {
	border:2px white solid;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar a:hover {
	color:black;
    background-color: white;
}

 header h1{
	 font-family:boogaloo;
	text-align:center;
	font-size:50px;
}

 header h5{
	 font-family:boogaloo;
	text-align:center;
	font-size:25px;
}

h3{
	font-size:20px;
	font-family:prata;
	text-align:center;
}

section{
	position:relative;
	top:200px;
	right:10px;
	height:500px;
	width:60%;
	margin:2px;
	padding:30px;
	background-color:royalblue;
	color:antiquewhite;
}

section p{
	font-family:prata;
	font-size:18px;
	word-spacing:4px;
}

 #page2{
	position:relative;
	top:500px;
	right:10px;
	height:200px;
	width:60%;
	margin:2px;
	padding:30px;
	background-color:royalblue;
	color:antiquewhite;
}

div{
	border:2px black solid;
	position:relative;
	top:50px;
	float:right;
	margin:2px;
	height:500px;
	width:31%;
	background-color:royalblue;
}

#absolute{
	width:29%;
	height:29%;
	position:absolute;
	top:895px;
	right:20px;
}

#links{
	border:2px black solid;
	position:relative;
	top:240px;
	right:-30px;
	margin:2px;
	height:260px;
	width:31%;
	background-color:royalblue;
}

#links ul {
	float:left;
	list-style-type:none;
}

#links a{
	color:antiquewhite;
	text-decoration:none;
}

#links a:hover{
	color:red;
	size:30px;
}

table{
	
	border:10px black solid;
	height:200px;
	width:100%;
}

td{
	height:100%;
	width:33.33%;
}

.gallery{
	height:100%;
	width:100%;
}

footer{
	position:relative;
	top:805px;
	text-align:center;
	display:block;
	width:100%;
}

#disclaimer{
	font-size:20px;
	position:relative;
	left:300px
	top:805px;
}

footer p{
	text-align: center;
	font-size:15px;
	position:relative;
	left:200px;
}
