
h1 {
    font-size: 30px;
    text-align:center;
    background-color:blue;
}

h3 {
	font-size:25px;
	text-align:center;
}

nav {
    overflow:contain;
    background-color:red;
    float:left;
    display:"block";
    height:500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:red;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: white;
}

section{
    color: antiquewhite;
    background-color: blue;
    float:right;
    width:75%;
    height:500px;
}
div {
    background-color:red;
    color:antiquewhite;
}

footer {
    position:relative;
    bottom:0;
}
