
h1 {
    font-size: 30px;
    text-align:center;
    background-color:blue;
}

h3 {
	font-size:25px;
	text-align:center;
}

nav {
    background-color:red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    border: 2px black solid;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
section{
    color: antiquewhite;
    background-color: blue;
    float:right;
    width:75%;
    height:500px;
}
div {
    background-color:red;
    color:antiquewhite;
}

footer {
    position:relative;
    bottom:0;
}
