body{
  background-color: rgb(70,35,107);
  color: antiquewhite;
}

.carousel{
padding-top:200px;
text-align: center;
  width:100%;
  height:450px;
  font-size: 32px;
} 
#articles{
	opacity: 0.5;
	background-color:black;
	margin-top:90px;
}
 #rules{
   padding-top:20px;
}

.extrainfo{
	margin-top: 100px;
	background-color: blue;
	border:2px solid black;
    }


footer {
  background-color: ligtblue;
  opacity: 0.5;
}

