body{
  background-color: rgb(70,35,107);
  color: antiquewhite;
}

.carousel{
  width:100%;
  heiht:450px;
  font-size: 32px;
}
#articles{
  background-color:black;
}






footer {
  background-color: ligtblue;
  opacity: .5
}

