body{
    background-color:red;
    font-size:24px;
}

h1{
    text-shadow:4px 4px gold;
    background-color:yellow;
    text-align:center;
}

fieldset{
    width:600px;
    margin:auto;
    text-align:center;
}

label{
    background-color:green;
    width: 15em;
    float:left;
    clear:left;
    text-align: right;
    padding-right: 1em;
}

input{
    background-color:purple;
    float:left;
}

.show{
    background-color:blue;
    display:none;
    text-align: center;
    position:relative;
    border:10px solid p
        ink;
}
