body{
    font-size:24px;
}

h1{
    font-family: 'Anton', sans-serif;
    text-align:center;
}

fieldset{
    width:600px;
    margin:auto;
    text-align:center;
}

label{
    font-family: 'Acme', sans-serif;
    width: 15em;
    float:left;
    clear:left;
    text-align: right;
    padding-right: 1em;
}

input{
    float:left;
}

.show{
    font-family: 'Acme', sans-serif;
    display:none;
    text-align: center;
    position:relative;
    border:10px solid black
}
